<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySimon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FBC1CA41CAC078F00C1EA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FBC1CB81CAC079000C1EA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FBC1CC31CAC079000C1EA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
